<div class="backdrop"></div>
<div class="modal-box bg-light p-4 mb-2" *ngIf="headingMsg">
    <h3 class="mt-2 mb-4 text-center"> {{headingMsg}}</h3>
    <div class="d-flex justify-content-center">
        <button class="btn btn-success mx-2" (click)="addClickCart()">Yes</button>
        <button class="btn btn-outline-danger"(click)="closeModel()">No</button>
    </div>
</div>

<div class="modal-box bg-light p-4 mb-2 rounded" *ngIf="userOrderForm">
    <h3 class="mt-2 mb-4 text-center"> <u>Fill-up your contact details carefully! </u></h3>
    <div class="d-flex justify-content-center">
        <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
            <button class="alert alert-success" *ngIf="message!==''"> {{message}}</button>
            <input type="text" class="form-control my-2 w-100" placeholder="Your Name" formControlName = "name"  required/>
            <span class="invaild-feedback text-danger" *ngIf="name && name.invalid && name.touched" >Please enter valid input</span>            

            <input type="text" class="form-control my-2 w-100" placeholder="Mobile Number " formControlName = "number" required/>
            <span class="invaild-feedback text-danger" *ngIf="number && number.invalid && number.touched" >Please enter valid input</span>            

            <textarea class="form-control my-2 w-100" placeholder="Enter Your Address" formControlName = "address" required></textarea>
            <span class="invaild-feedback text-danger" *ngIf="address && address.invalid && address.touched" >Please enter valid input</span>            
            <div class="d-flex justify-content-center items-center">
                <button type="submit" class="btn btn-dark mt-3 mx-1" [disabled]="orderForm.invalid">Place Order</button> 
                <button class="btn btn-outline-danger mt-3 mx-1"(click)="closeModel()">Cancel</button> 
            </div>
        </form>
    </div>
</div>