<app-navbar></app-navbar>
<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of foodData">

            <div class="foodbox mt-3 mb-3">
                <img src="{{fd.picture}}">
                <h1>{{fd.name}}</h1>
                <p>{{fd.short_description}}</p>
                <p>{{fd.price | currency:'INR'}}</p>
                <br/>
                <a class="btn btn-success" [routerLink]="['/menu',fd.food_id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
                <button class="btn btn-warning  mx-1" (click)="askAddCart(fd)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<app-model *ngIf="hide" (cancel)="closeModel()" [headingMsg]="headingMsg" (addCart)="addCart()"></app-model>

<app-footer></app-footer>