<app-navbar></app-navbar>
<div class="banner">
    <div class="content">
        <h1 class="mb-5">Fresh Cooked Food <br/> At Your Door.</h1>
        <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get <span class="highlight">fresh food</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select food</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>your order delivered in minute</p>
            </div>
        </div>
    </div>
</div>

<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourites Food</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of foodData">
            <div class="foodbox">
                <img src="{{fd.picture}}" />
                <h1>{{fd.name}}</h1>
                <p>{{fd.price | currency:'INR'}}</p>
                <a class="btn btn-success" [routerLink]="['/menu',fd.food_id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
                <button class="btn btn-warning  mx-1" (click)="askAddCart(fd)">Add to Cart</button>
                <!-- <ng-template #noCartAdded>
                    <button class="btn btn-warning  mx-1">Added</button>
                </ng-template> -->
            </div>
        </div>
        <button  routerLink="menu" class="btn btn-outline-primary mt-4 "> View More...</button>
    </div>
</div>
<app-model *ngIf="hide" (cancel)="closeModel()" [headingMsg]="headingMsg" (addCart)="addCart()"></app-model>
<app-footer></app-footer>