<app-navbar></app-navbar>
<div class="input-group d-flex justify-content-center mt-5" *ngIf="!orderData else trackOrder">
    <div class="form-outline d-flex mt-5">
        <form [formGroup]="searchForm">
            <input type="search" formControlName="orderId" class="form-control px-2 py-1" placeholder="Enter Order id" required/>
        </form>
        <button type="button" [disabled]="!searchForm.valid"  class="btn btn-danger px-2 py-1 mx-1" (click)="searchOrder()">
            <i class="bi bi-search text-danger"></i>
        </button>
    </div>
</div>
<div class="text-center my-4">
    <span class="alert alert-info py-1 px-2" *ngIf="orderid?.touched && orderid?.invalid ">Please enter valid order id number <br></span>
    <span class="alert alert-info py-1 px-2 my-2" *ngIf="orderid?.errors?.pattern">Order id must be an number <br></span>
    <span class="alert alert-warning py-1 px-2 my-2" *ngIf="message && message!=''"> {{message}}</span>
</div>
<ng-template #trackOrder>
    <div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
        <button class="btn-sm btn-dark px-2 my-4" onclick="window.print()">Print Receipt </button>
        <div class="text-uppercase">
            <p>Order detail</p>
        </div>
        <div class="h4">  {{orderData[0].order_date | date:"full"}}</div>
        <div class="pt-1">
            <p>Order #{{orderData[0].order_id}} is currently
                <b class="text-dark" *ngIf="orderData[0].order_status == 4">Processing</b>
                <b class="text-dark" *ngIf="orderData[0].order_status == 3">Order Cancalled</b>
                <b class="text-dark" *ngIf="orderData[0].order_status == 2">Order Confirm</b>
                <b class="text-dark" *ngIf="orderData[0].order_status == 1">Food on the way</b>
                <b class="text-dark" *ngIf="orderData[0].order_status == 0">Delivered</b>...
            </p>
        </div>
        <div class="btn close text-white" (click)="closeOrder()"> &times; </div>
    </div>
    <div class="wrapper bg-white">
        <div class="table">
            <table class="table table-borderless">
                <thead>
                    <tr class="text-uppercase text-muted">
                        <th scope="col">Product</th>
                        <th scope="col" class="text-right">Price</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let data of orderData" >
                        <th scope="row"> <div class="mx-3"> <img src="{{data.picture}}" alt="apple" class="rounded-circle" width="50" height="50"> {{data.name}}</div> </th>
                        <td class="text-right"><b> {{data.price | currency:'INR'}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row border rounded p-1 my-3">
            <div class="col-md-6 p-2">
                <div class="d-flex flex-column align-items start"> <b>Contact Details</b>
                    <p class="text-justify pt-2">Mobile No. - {{orderData[0].phone_number}}</p>
                    <p class="text-justify">Name- {{orderData[0].customer_name}}</p>
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="d-flex flex-column align-items start"> <b>Shipping Address</b>
                    <p class="text-justify pt-2"> {{orderData[0].delivery_address}}</p>
                    <p class="text-justify">India</p>
                </div>
            </div>
        </div>
        <div class="pl-3 font-weight-bold">Status</div>
        <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
            <div> Order Id: <b>#{{orderData[0].order_id}}</b> </div>
            <div> Items:<b>{{orderData.length}}</b> </div>
            <div>Status:  {{order_status}}</div>
            <div>Payment Method: COD</div>
            <div> Total Charges : <b> {{totalPrice | currency:"INR"}}</b> </div>
        </div>
    </div>
</ng-template>
<app-footer></app-footer>